LedgerGateway/development/inventory/LedgerOps-InventorySiteMod.workflow.json
{"updatedAt":"2026-03-26T15:35:26.595Z","createdAt":"2026-03-26T15:35:26.595Z","id":"PHt2PiZlG6AHw44h","name":"[Inventory] LedgerOps — Inventory Site Mod","description":null,"active":true,"isArchived":false,"nodes":[{"id":"ism00002-aa11-4a11-8a11-000000000001","name":"Webhook — Entry","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,304],"webhookId":"inv-site-mod-000000000-0001","parameters":{"httpMethod":"POST","path":"inventory/site/mod","responseMode":"responseNode","options":{}}},{"id":"ism00002-aa22-4a22-8a22-000000000002","name":"Code — Validate Type","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,304],"parameters":{"jsCode":"const body = $input.first().json.body || {};\nconst validTypes = ['InventorySiteMod'];\nconst type = body.type || '';\nconst sede = body.sede || '';\nconst version = body.version || '17.0';\n\nif (!type || !validTypes.includes(type)) {\n  return [{ json: { ok: false, httpStatus: 400, code: 'INVALID-INVENTORY-SITE-TYPE', message: 'type must be one of: ' + validTypes.join(', '), received: type } }];\n}\nif (!sede) {\n  return [{ json: { ok: false, httpStatus: 400, code: 'MISSING-SEDE', message: 'sede is required' } }];\n}\nif (!body.data || Object.keys(body.data).length === 0) {\n  return [{ json: { ok: false, httpStatus: 400, code: 'MISSING-DATA', message: 'data is required and cannot be empty' } }];\n}\nreturn [{ json: { ok: true, payload: { type: type, sede: sede, version: version, object: type + 'Rq', data: { [type + 'Rq']: { [type]: body.data } } } } }];\n"}},{"id":"ism00002-aa33-4a33-8a33-000000000003","name":"IF — Validation OK","type":"n8n-nodes-base.if","typeVersion":2,"position":[688,304],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-val-ok","leftValue":"={{ $json.ok }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}}},{"id":"ism00002-aa44-4a44-8a44-000000000004","name":"HTTP — LedgerExec","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,160],"parameters":{"method":"POST","url":"https://n8n-development.redsis.ai/webhook/ledgerexec","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.payload }}","options":{"response":{"response":{"neverError":true}}}}},{"id":"ism00002-aa55-4a55-8a55-000000000005","name":"Respond — Result","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1120,160],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":"={{ $json.httpStatus || 200 }}","responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}}},{"id":"ism00002-aa66-4a66-8a66-000000000006","name":"Respond — Validation Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[912,448],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":"={{ $json.httpStatus || 400 }}","responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}}}],"connections":{"Webhook — Entry":{"main":[[{"node":"Code — Validate Type","type":"main","index":0}]]},"Code — Validate Type":{"main":[[{"node":"IF — Validation OK","type":"main","index":0}]]},"IF — Validation OK":{"main":[[{"node":"HTTP — LedgerExec","type":"main","index":0}],[{"node":"Respond — Validation Error","type":"main","index":0}]]},"HTTP — LedgerExec":{"main":[[{"node":"Respond — Result","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"c1228e16-18b0-4ecf-8145-4b2778fca119","activeVersionId":"c1228e16-18b0-4ecf-8145-4b2778fca119","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2026-03-26T15:35:26.595Z","createdAt":"2026-03-26T15:35:26.595Z","role":"workflow:owner","workflowId":"PHt2PiZlG6AHw44h","projectId":"f8j5LNuL33x7JA9G","project":{"updatedAt":"2026-01-13T15:22:05.511Z","createdAt":"2026-01-06T16:46:13.567Z","id":"f8j5LNuL33x7JA9G","name":"Luis Dominguez <ldominguez@redsis.com>","type":"personal","icon":null,"description":null,"creatorId":"793c9613-668d-47db-99aa-821aa539c80e","projectRelations":[{"updatedAt":"2026-01-06T16:46:13.567Z","createdAt":"2026-01-06T16:46:13.567Z","userId":"793c9613-668d-47db-99aa-821aa539c80e","projectId":"f8j5LNuL33x7JA9G","user":{"updatedAt":"2026-03-26T12:47:44.339Z","createdAt":"2026-01-06T16:46:13.567Z","id":"793c9613-668d-47db-99aa-821aa539c80e","email":"ldominguez@redsis.com","firstName":"Luis","lastName":"Dominguez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-13T15:23:29.284Z","personalization_survey_n8n_version":"2.2.3","automationGoalDevops":["ticketing-systems-integrations"],"companySize":"<20","companyType":"saas","role":"devops","reportedSource":"google"},"settings":{"firstSuccessfulWorkflowId":"nXb4v1pzKa8RonaPx0Ohr","userActivated":true,"userActivatedAt":1768598418998,"npsSurvey":{"responded":true,"lastShownAt":1769541296926}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-26","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-26T15:35:26.631Z","createdAt":"2026-03-26T15:35:26.631Z","versionId":"c1228e16-18b0-4ecf-8145-4b2778fca119","workflowId":"PHt2PiZlG6AHw44h","nodes":[{"id":"ism00002-aa11-4a11-8a11-000000000001","name":"Webhook — Entry","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,304],"webhookId":"inv-site-mod-000000000-0001","parameters":{"httpMethod":"POST","path":"inventory/site/mod","responseMode":"responseNode","options":{}}},{"id":"ism00002-aa22-4a22-8a22-000000000002","name":"Code — Validate Type","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,304],"parameters":{"jsCode":"const body = $input.first().json.body || {};\nconst validTypes = ['InventorySiteMod'];\nconst type = body.type || '';\nconst sede = body.sede || '';\nconst version = body.version || '17.0';\n\nif (!type || !validTypes.includes(type)) {\n  return [{ json: { ok: false, httpStatus: 400, code: 'INVALID-INVENTORY-SITE-TYPE', message: 'type must be one of: ' + validTypes.join(', '), received: type } }];\n}\nif (!sede) {\n  return [{ json: { ok: false, httpStatus: 400, code: 'MISSING-SEDE', message: 'sede is required' } }];\n}\nif (!body.data || Object.keys(body.data).length === 0) {\n  return [{ json: { ok: false, httpStatus: 400, code: 'MISSING-DATA', message: 'data is required and cannot be empty' } }];\n}\nreturn [{ json: { ok: true, payload: { type: type, sede: sede, version: version, object: type + 'Rq', data: { [type + 'Rq']: { [type]: body.data } } } } }];\n"}},{"id":"ism00002-aa33-4a33-8a33-000000000003","name":"IF — Validation OK","type":"n8n-nodes-base.if","typeVersion":2,"position":[688,304],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-val-ok","leftValue":"={{ $json.ok }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}}},{"id":"ism00002-aa44-4a44-8a44-000000000004","name":"HTTP — LedgerExec","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,160],"parameters":{"method":"POST","url":"https://n8n-development.redsis.ai/webhook/ledgerexec","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.payload }}","options":{"response":{"response":{"neverError":true}}}}},{"id":"ism00002-aa55-4a55-8a55-000000000005","name":"Respond — Result","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1120,160],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":"={{ $json.httpStatus || 200 }}","responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}}},{"id":"ism00002-aa66-4a66-8a66-000000000006","name":"Respond — Validation Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[912,448],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":"={{ $json.httpStatus || 400 }}","responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}}}],"connections":{"Webhook — Entry":{"main":[[{"node":"Code — Validate Type","type":"main","index":0}]]},"Code — Validate Type":{"main":[[{"node":"IF — Validation OK","type":"main","index":0}]]},"IF — Validation OK":{"main":[[{"node":"HTTP — LedgerExec","type":"main","index":0}],[{"node":"Respond — Validation Error","type":"main","index":0}]]},"HTTP — LedgerExec":{"main":[[{"node":"Respond — Result","type":"main","index":0}]]}},"authors":"Luis Dominguez","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-26T15:35:54.510Z","id":691,"workflowId":"PHt2PiZlG6AHw44h","versionId":"c1228e16-18b0-4ecf-8145-4b2778fca119","event":"activated","userId":"793c9613-668d-47db-99aa-821aa539c80e"}]}}