LedgerGateway/production/purchasing/LedgerOps-BillQuery.workflow.json
{"updatedAt":"2026-03-25T19:24:11.629Z","createdAt":"2026-03-25T19:23:03.038Z","id":"RH3rWis1Oc3D1GeK","name":"[Purchasing] LedgerOps — Bill Query","description":null,"active":true,"isArchived":false,"nodes":[{"id":"bq000003-qq11-qq11-qq11-000000000001","name":"Webhook — Entry","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,304],"webhookId":"pur-bill-qry-00000000-0001","parameters":{"httpMethod":"POST","path":"purchasing/bill/query","responseMode":"responseNode","options":{}}},{"id":"bq000003-qq22-qq22-qq22-000000000002","name":"Code — Validate Type","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,304],"parameters":{"jsCode":"const body = $input.first().json.body || {};\nconst validTypes = ['BillQuery'];\nconst type = body.type || '';\nconst sede = body.sede || '';\nconst version = body.version || '17.0';\nif (!type || !validTypes.includes(type)) {\n  return [{ json: { ok: false, httpStatus: 400, code: 'INVALID-BILL-TYPE', message: 'type must be one of: ' + validTypes.join(', '), received: type } }];\n}\nif (!sede) {\n  return [{ json: { ok: false, httpStatus: 400, code: 'MISSING-SEDE', message: 'sede is required' } }];\n}\nif (!body.data || Object.keys(body.data).length === 0) {\n  return [{ json: { ok: false, httpStatus: 400, code: 'MISSING-DATA', message: 'data is required and cannot be empty' } }];\n}\nconst objectName = type + 'Rq';\nreturn [{ json: { ok: true, payload: { type: type, sede: sede, version: version, object: objectName, data: { [objectName]: body.data } } } }];"}},{"id":"bq000003-qq33-qq33-qq33-000000000003","name":"IF — Validation OK","type":"n8n-nodes-base.if","typeVersion":2,"position":[688,304],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-val-ok","leftValue":"={{ $json.ok }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}}},{"id":"bq000003-qq44-qq44-qq44-000000000004","name":"HTTP — LedgerExec","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,160],"parameters":{"method":"POST","url":"https://n8n-development.redsis.ai/webhook/ledgerexec","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.payload }}","options":{"response":{"response":{"neverError":true}}}}},{"id":"bq000003-qq55-qq55-qq55-000000000005","name":"Respond — Result","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1120,160],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":"={{ $json.httpStatus || 200 }}","responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}}},{"id":"bq000003-qq66-qq66-qq66-000000000006","name":"Respond — Validation Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[912,448],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":"={{ $json.httpStatus || 400 }}","responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}}}],"connections":{"Webhook — Entry":{"main":[[{"node":"Code — Validate Type","type":"main","index":0}]]},"Code — Validate Type":{"main":[[{"node":"IF — Validation OK","type":"main","index":0}]]},"IF — Validation OK":{"main":[[{"node":"HTTP — LedgerExec","type":"main","index":0}],[{"node":"Respond — Validation Error","type":"main","index":0}]]},"HTTP — LedgerExec":{"main":[[{"node":"Respond — Result","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"79fbc8a0-4c75-4de2-ac97-62fa1c6b2aed","activeVersionId":"79fbc8a0-4c75-4de2-ac97-62fa1c6b2aed","versionCounter":6,"triggerCount":1,"shared":[{"updatedAt":"2026-03-25T19:23:03.038Z","createdAt":"2026-03-25T19:23:03.038Z","role":"workflow:owner","workflowId":"RH3rWis1Oc3D1GeK","projectId":"f8j5LNuL33x7JA9G","project":{"updatedAt":"2026-01-13T15:22:05.511Z","createdAt":"2026-01-06T16:46:13.567Z","id":"f8j5LNuL33x7JA9G","name":"Luis Dominguez <ldominguez@redsis.com>","type":"personal","icon":null,"description":null,"creatorId":"793c9613-668d-47db-99aa-821aa539c80e","projectRelations":[{"updatedAt":"2026-01-06T16:46:13.567Z","createdAt":"2026-01-06T16:46:13.567Z","userId":"793c9613-668d-47db-99aa-821aa539c80e","projectId":"f8j5LNuL33x7JA9G","user":{"updatedAt":"2026-03-25T13:29:27.426Z","createdAt":"2026-01-06T16:46:13.567Z","id":"793c9613-668d-47db-99aa-821aa539c80e","email":"ldominguez@redsis.com","firstName":"Luis","lastName":"Dominguez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-13T15:23:29.284Z","personalization_survey_n8n_version":"2.2.3","automationGoalDevops":["ticketing-systems-integrations"],"companySize":"<20","companyType":"saas","role":"devops","reportedSource":"google"},"settings":{"firstSuccessfulWorkflowId":"nXb4v1pzKa8RonaPx0Ohr","userActivated":true,"userActivatedAt":1768598418998,"npsSurvey":{"responded":true,"lastShownAt":1769541296926}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-25","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-25T19:24:11.635Z","createdAt":"2026-03-25T19:24:11.635Z","versionId":"79fbc8a0-4c75-4de2-ac97-62fa1c6b2aed","workflowId":"RH3rWis1Oc3D1GeK","nodes":[{"id":"bq000003-qq11-qq11-qq11-000000000001","name":"Webhook — Entry","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,304],"webhookId":"pur-bill-qry-00000000-0001","parameters":{"httpMethod":"POST","path":"purchasing/bill/query","responseMode":"responseNode","options":{}}},{"id":"bq000003-qq22-qq22-qq22-000000000002","name":"Code — Validate Type","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,304],"parameters":{"jsCode":"const body = $input.first().json.body || {};\nconst validTypes = ['BillQuery'];\nconst type = body.type || '';\nconst sede = body.sede || '';\nconst version = body.version || '17.0';\nif (!type || !validTypes.includes(type)) {\n  return [{ json: { ok: false, httpStatus: 400, code: 'INVALID-BILL-TYPE', message: 'type must be one of: ' + validTypes.join(', '), received: type } }];\n}\nif (!sede) {\n  return [{ json: { ok: false, httpStatus: 400, code: 'MISSING-SEDE', message: 'sede is required' } }];\n}\nif (!body.data || Object.keys(body.data).length === 0) {\n  return [{ json: { ok: false, httpStatus: 400, code: 'MISSING-DATA', message: 'data is required and cannot be empty' } }];\n}\nconst objectName = type + 'Rq';\nreturn [{ json: { ok: true, payload: { type: type, sede: sede, version: version, object: objectName, data: { [objectName]: body.data } } } }];"}},{"id":"bq000003-qq33-qq33-qq33-000000000003","name":"IF — Validation OK","type":"n8n-nodes-base.if","typeVersion":2,"position":[688,304],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-val-ok","leftValue":"={{ $json.ok }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}}},{"id":"bq000003-qq44-qq44-qq44-000000000004","name":"HTTP — LedgerExec","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,160],"parameters":{"method":"POST","url":"https://n8n-development.redsis.ai/webhook/ledgerexec","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.payload }}","options":{"response":{"response":{"neverError":true}}}}},{"id":"bq000003-qq55-qq55-qq55-000000000005","name":"Respond — Result","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1120,160],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":"={{ $json.httpStatus || 200 }}","responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}}},{"id":"bq000003-qq66-qq66-qq66-000000000006","name":"Respond — Validation Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[912,448],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":"={{ $json.httpStatus || 400 }}","responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}}}],"connections":{"Webhook — Entry":{"main":[[{"node":"Code — Validate Type","type":"main","index":0}]]},"Code — Validate Type":{"main":[[{"node":"IF — Validation OK","type":"main","index":0}]]},"IF — Validation OK":{"main":[[{"node":"HTTP — LedgerExec","type":"main","index":0}],[{"node":"Respond — Validation Error","type":"main","index":0}]]},"HTTP — LedgerExec":{"main":[[{"node":"Respond — Result","type":"main","index":0}]]}},"authors":"Luis Dominguez","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-25T19:24:14.946Z","id":661,"workflowId":"RH3rWis1Oc3D1GeK","versionId":"79fbc8a0-4c75-4de2-ac97-62fa1c6b2aed","event":"activated","userId":"793c9613-668d-47db-99aa-821aa539c80e"}]}}